@import '../../_variables.scss';

.control-container {
  -webkit-box-orient: horizontal;
  position: absolute;
  bottom: 40;
  right: 200px;
  background: transparent;
  z-index: 1000;
  color: $offWhite;
  box-sizing: border-box;
  font-family: $fontNormal;
  height: 35px;

}



.searchbtn{
  width:30px;
  height: 35px;
  text-align: center;
 
  cursor: pointer;
 
  color: $offWhite;
  
}
.search-bar {
  display:-webkit-box;
  -webkit-box-orient:horizontal;
  width:100%;
  height: 35px;
  background-color: $midDark;
  color: $offWhite;

}

