@import '../../_variables.scss';

.layer-toggle {
  display: none;
}

.char-panel {
  position: absolute;
  top: 324px;
  right: 24px;
  padding: 12px;
  background: $midDark;
  z-index: 1000;
  color: $offWhite;

  h3 {
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
  }
}

.layer-buttons {
  text-transform: uppercase;

  div {
    color: $grey;
    border-top: 1px solid $offWhite;
    padding: 6px;
    cursor: pointer;
    user-select: none;
    font-family: $fontNormal;
  }

  div.toggle-active {
    color: $offWhite;
  }

  :last-child {
    border-bottom: 1px solid $offWhite;
  }
}

@media (max-width: 600px) {
  .char-panel {
    display: inline-flex;
    align-items: center;
    top: 35%;
    right: 0;
    transform: translateX(calc(100% - #{$toggleLayerPanelButtonWidth}));
    transition: all 0.3s ease-in-out;
  }

  .char-panel.char-panel-active {
    transform: translateX(0);
  }

  .layer-toggle {
    cursor: pointer;
    display: block;
    width: $toggleLayerPanelButtonWidth;
    transform: translateY(120%) rotate(-90deg);
    padding: 10px;
    margin-left: -20px;
    letter-spacing: 1rem;
    text-transform: uppercase;
  }
}